.login-wrapper {

  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ebecee;

  .login-form {
    width: 480px;
    height: 100%;
    border-radius: 0 10px 10px 0;
    padding: 40px;
    background-color: #ffffff;

    .login-title {
      font-size: 32px;
      font-weight: 600;
      letter-spacing: 1px;
      text-align: center;
    }

    .login-form-button {
      display: block;
      width: 100%;
    }

  }

}